<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data " />
  </configSections>
  <appSettings>
    <add key="SampleApp.Repository.Implementation" value="Mock"/>
    <add key="SampleApp.Services.Implementation" value="Mock"/>
  </appSettings>
  <dataConfiguration defaultDatabase="LocalDb" />
  <connectionStrings>
    <add name="LocalDb" connectionString="Data Source=localhost;Initial Catalog=LocalDb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>